vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args
 
border-radius()
  vendor('border-radius', arguments)
 
user-select()
  vendor('user-select', arguments)
 
box-shadow()
  vendor('box-shadow', arguments)
 
box-sizing()
  vendor('box-sizing', arguments)
 
transition()
  vendor('transition', arguments)
 
transform()
  vendor('transform', arguments)
 
animation()
  vendor('animation', arguments)

*
  margin 0
  padding 0
  box-sizing border-box
  text-decoration none
  border 0

html, body
  width 100%
  height 100%
  background #2c4762 /* Old browsers */
  overflow hidden

section
  width 100%
  height 100%
  min-height 100%
  position relative
  background #2c4762 /* Old browsers */
  background -moz-linear-gradient(top,  #2c4762 0%, #12263a 100%) /* FF3.6+ */
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c4762), color-stop(100%,#12263a)) /* Chrome,Safari4+ */
  background -webkit-linear-gradient(top,  #2c4762 0%,#12263a 100%) /* Chrome10+,Safari5.1+ */
  background -o-linear-gradient(top,  #2c4762 0%,#12263a 100%) /* Opera 11.10+ */
  background -ms-linear-gradient(top,  #2c4762 0%,#12263a 100%) /* IE10+ */
  background linear-gradient(to bottom,  #2c4762 0%,#12263a 100%) /* W3C */

#cnv
  position absolute
  top 0 
  right 0
  display block
#logo
  position absolute
  top 50%
  left 50%
  margin-left -257px
  margin-top -54px
  text-align center
  .logo-riku
    width 207px
  .logo-rouvila
    width 307px
#footer
  bottom 0
  left 0
  position absolute
  padding 5px 10px

.icon
  width 48px
  height 48px
  border-radius 24px
  background-size 100% 100%
  display inline-block
  margin 0 3px
  transition all 0.4s
  transform scale(0.8, 0.8) translateZ(0)
  box-shadow 1px 1px 0 rgba(255, 255, 255, 0.1)
  &.icon-github
    background-image url(../img/icon-github.png)
  &.icon-twitter
    background-image url(../img/icon-twitter.png)
  &.icon-linkedin
    background-image url(../img/icon-linkedin.png)
  &.icon-facebook
    background-image url(../img/icon-facebook.png)
  &:hover
    transform scale(1, 1) translateZ(0)
    // box-shadow 1px 1px 4px rgba(0, 0, 0, 0.1)
    box-shadow 0 0 10px rgba(255, 255, 255, 0.2)


@media all and (max-width: 600px)
  #logo
    width 310px
    height 220px
    margin-top -110px
    margin-left -155px
    img
      border 0
@media all and (max-width: 360px)
  #logo
    .logo-riku
      width 165px
    .logo-rouvila
      width 245px
