doctype html
html
  head
    link(rel='stylesheet', type='text/css', href="css/styles.css")
    link(rel='shortcut icon', href='favicon.png')
    script(type='text/javascript', src='js/vendor/require.js', data-main='js/modules/app')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    meta(charset='utf-8')
    title Riku Rouvila
    //if lte IE 8
      style(type='text/css')
        .icon {
          width: 32px;
          height: 32px;
        }

  body
    section#main
      #logo
        img.logo-riku(src='img/riku.png')
        img.logo-rouvila(src='img/rouvila.png')
      canvas#stars
      .footer
        a(href='https://github.com/rikukissa', target='_blank'): img.icon(src='img/icon-github.png')
        a(href='https://www.facebook.com/riku.rouvila', target='_blank'): img.icon(src='img/icon-facebook.png')
        a(href='https://twitter.com/rikurouvila', target='_blank'): img.icon(src='img/icon-twitter.png')
        a(href='http://www.linkedin.com/in/rikurouvila', target='_blank'): img.icon(src='img/icon-linkedin.png')

    section#tulikipina
      .project-info
        h1.project-title Project title
        p.project-description
          |Lorep ipsum foo bar baz
        a.project-btn(href='#') View project
    section#domo
      .project-info
        h1.project-title Project title
        p.project-description
          |Lorep ipsum foo bar baz
        a.project-btn(href='#') View project
    section#responsive-design
      .project-info
        h1.project-title Project title
        p.project-description
          |Lorep ipsum foo bar baz
        a.project-btn(href='#') View project
    script(type='text/javascript')
      require(['app'], function(app){ app.main() })
